body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

#dice-selection button {
  margin: 5px;
  padding: 10px;
}

#selected-dice, #results, #summary {
  margin-top: 15px;
}


.dice-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
  }
  
 
  .d6 {
    background-image: url('dés/des-d6.png');
    background-size: cover;
  }

  .d8 {
    background-image: url('dés/des-d8.png');
    background-size: cover;
  }

  .d10 {
    background-image: url('dés/des-d10.png');
    background-size: cover;
  }

  .d12 {
    background-image: url('dés/des-d12.png');
    background-size: cover;
  }
  
  .success-icon {
    width: 30px; 
    height: 30px;
}

.failure-icon {
    width: 30px; 
    height: 30px;
}


#button-container {
  text-align: center; /* Centre les boutons à l'intérieur du conteneur */
  padding: 20px; /* Ajoute un peu de padding autour des boutons si nécessaire */
}

.lancer-btn, .reset-btn {
  padding: 15px 30px;
  color: #333;
  background-color: white;
  font-size: 18px;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px; /* Ajoute une marge à gauche et à droite de chaque bouton */
  transition: background-color 0.3s, transform 0.2s;
}

.lancer-btn:hover, .reset-btn:hover {
  background-color: #eee;
  transform: scale(1.05);
}

.lancer-btn:active, .reset-btn:active {
  background-color: #ccc;
  transform: scale(0.95);
}

.button:hover {
  transform: scale(1.1); /* Légère augmentation de la taille au survol */
}

.button:active {
  transform: scale(0.9); /* Rétrécissement lors du clic */
}

.shake-error {
  animation: shake 0.5s, background-color-change 1s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

@keyframes background-color-change {
  from { background-color: red; }
  to { background-color: white; }
}
