body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

#dice-selection button {
  margin: 5px;
  padding: 10px;
}

#selected-dice, #results, #summary {
  margin-top: 15px;
}


.dice-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
  }
  
  /* Exemple de style pour D6 */
  .d6 {
    background-image: url('dés/des-d6.png');
    background-size: cover;
  }

  .d8 {
    background-image: url('dés/des-d8.png');
    background-size: cover;
  }

  .d10 {
    background-image: url('dés/des-d10.png');
    background-size: cover;
  }

  .d12 {
    background-image: url('dés/des-d12.png');
    background-size: cover;
  }
  
  .success-icon {
    width: 30px; 
    height: 30px;
}

.failure-icon {
    width: 30px; 
    height: 30px;
}

.shake-error {
  animation: shake 0.5s, background-color-change 1s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

@keyframes background-color-change {
  from { background-color: red; }
  to { background-color: white; }
}
