body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}


#dice-selection button {
  margin: 5px;
  padding: 10px;
}

#selected-dice, #results, #summary {
  margin-top: 15px;
}

#dice-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dice-btn {
  width: 5em; /* Largeur du bouton en em */
  height: 5em; /* Hauteur du bouton en em, identique à la largeur pour assurer la forme carrée */
  margin: 0.5em;
  color: white;
  font-size: 1em; /* Taille du texte adaptée */
  background-color: #444;
  border: 0.1em solid black; /* Bordure en em pour rester proportionnelle */
  border-radius: 0.5em; /* Coins arrondis en em */
  display: flex;
  align-items: center; /* Centrage vertical du texte */
  justify-content: center; /* Centrage horizontal du texte */
  cursor: pointer;
  transition: transform 0.2s;
}

.d6 { background-color: #1a53ff; }
.d8 { background-color: #ffcc00; }
.d10 { background-color: #4dff4d; }
.d12 { background-color: #ff3333; }

.dice-btn:hover {
  transform: scale(1.1);
}


#button-container {
  text-align: center; /* Centre les boutons à l'intérieur du conteneur */
  padding: 20px; /* Ajoute un peu de padding autour des boutons si nécessaire */
}

.lancer-btn, .reset-btn {
  padding: 15px 30px;
  color: #333;
  background-color: white;
  font-size: 18px;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px; /* Ajoute une marge à gauche et à droite de chaque bouton */
  transition: background-color 0.3s, transform 0.2s;
}

.lancer-btn:hover, .reset-btn:hover {
  background-color: #eee;
  transform: scale(1.05);
}

.lancer-btn:active, .reset-btn:active {
  background-color: #ccc;
  transform: scale(0.95);
}

.button:hover {
  transform: scale(1.1); /* Légère augmentation de la taille au survol */
}

.button:active {
  transform: scale(0.9); /* Rétrécissement lors du clic */
}

.shake-error {
  animation: shake 0.5s, background-color-change 1s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

@keyframes background-color-change {
  from { background-color: red; }
  to { background-color: white; }
}


.success-icon, .failure-icon {
  width: 2em; /* Utilise em pour la taille, qui est relative à la taille de la police actuelle */
  height: 2em; /* Garde le pictogramme carré */
  display: inline-block; /* Pour que les icônes se placent correctement dans le flux de texte */
  vertical-align: middle; /* Alignement vertical pour qu'ils s'alignent bien avec le texte */
}